<!-- login.html -->
{% extends 'hear_foot.html' %}

{% block title %}
  Login
{% endblock %}

{% block main %}
<!-- templates/login.html -->
<div class="about_hero">
  <div class="overalay1"></div>
  <div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1 style="font-size: 3.5vw;">ENROLL NOW</h1>
    <p>We Make Food With Heart.</p>
  </div>
</div>
<div class="login_page">
<div class="login_box">
<form class="log_from" method="post">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Username" required><br>
  
  <input type="password" name="password" placeholder="Password" required><br>
  <button type="submit">Login</button>

</form>
  <div class="btn">
    <form action="{% url 'register' %}" method="get">
      <button style="margin-top: 2vh; background-color: transparent; border: 1px #007bff solid;"  type="submit">Sign Up</button>
    </form>
   
  </div>
  {% if messages %}
  {% for message in messages %}
    <p style="color:red; margin-top: 2vh;">{{ message }}</p>
  {% endfor %}
{% endif %}
</div>



</div>
<box></box>
</div>

{% endblock %}
